
.btn-raven {
  background-color: rgb(16, 100, 112);
  color: #fff;
  border-color: rgb(16, 100, 112);
}

h1 {
    font-weight: 600;
}

.dropzone {
	border: 2px dashed #0087F7;
	border-radius: 5px;
	background: white;
}

.pre-scrollable {
  max-height: 340px;
  max-width: 680px;
  overflow-y: auto;
}