<div class="form-check form-check-inline mx-2" style="vertical-align: middle;">
  <input class="form-check-input" name="{{name}}" type="checkbox" value="true" id="{{name}}" {{#if checked}}checked{{/if}}>
  {{# if label}}
  <label class="form-check-label" for="{{name}}">
    {{label}}
  </label>
  {{/if}}
</div>