# Modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# images
static/uploads/*

# python
__pycache__
.idea/*
splicer/.idea/inspectionProfiles/profiles_settings.xml

splicer/.idea/misc.xml

splicer/.idea/modules.xml

splicer/.idea/

# VScode

.vscode/*

splicer/uncropped_problematic/

splicer/cropped/

splicer/.raw_files/

splicer/testimages/

# binaries
yq