<div class="d-flex flex-column align-items-center">
        <h1 class="display-1 text-secondary fw-bold">Oops!</h1>
        <h2 class="text-primary">404 Not Found</h2>
        <div class="mb-3">
            Sorry, you requested something that doesn't exist.
        </div>
        <div >
            <a href="/" class="btn btn-primary btn-lg me-1">
            <i class="fa fa-home"></i>
                Take me somewhere safe </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-secondary btn-lg ms-1">
            <i class="fa fa-envelope"></i> Contact Support </a>
        </div>
</div>