<h1>{{title}}</h1>
<p>Make changes to the overall functioning of this <em>A Tripos a Day</em> deployment.</p>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Upload a new question
            </div>
            <div class="card-body">
                <form method="POST" action="/admin/create/question" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" name="description">
                        <div class="form-text">Optional description. Batch uploads will all have the same
                            description.</div>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="tripos-part">
                            <option value="" selected>Tripos part</option>
                            {{#each tripos_parts}}
                            <option value="{{lookup this 0}}">
                                {{lookup this 1}}
                            </option>
                            {{/each}}
                        </select>
                        {{#if errors.[tripos-part]}}
                        {{> admin/invalid_feedback msg= errors.[tripos-part]
                        {{/invalid_feedback}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Base topic</label>
                        {{#each root_topics}}
                        {{> admin/checkbox description=this.name uuid=this.uuid}}
                        {{/each}}
                        <div id="topicHelp" class="form-text">All questions must belong to a base topic. If none
                            applies, choose the <em>no topic</em> option.</div>
                    </div>
                    <div class="mb-3">
                        <label for="question-upload" class="form-label">Upload one or more photos</label>
                        <input class="form-control form-control-lg" type="file" id="question-upload"
                            name="question-upload" multiple>
                    </div>
                    <button id="question-create-submit" type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Create a new topic
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="description" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="description" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>