<section class="my-5">
    <h1>Want to keep the doctor away?</h1>
    <p class="fs-4"><em>A Tripos a Day</em> can help you.</p>
</section>
{{!-- <section class="mt-4">
    <p>With <em>A Tripos a Day</em>, you can subscribe to lists (topics) of past Tripos questions and get a daily
        question mailed straight to your inbox.</p>
</section> --}}