<section class="my-5">
    <h1 class="display-4 fw-bold">Want to keep the doctor away?</h1>
    <p class="lead"><em>A Tripos a Day</em> can help you.</p>
</section>

<section class="mt-3">
    <div class="alert alert-success">
        <a href="/login">Sign up now</a>, {{userCount}} other people have done so too!
    </div>
</section>
<section class="mt-4">
    <p>With <em>A Tripos a Day</em>, you can subscribe to lists (topics) of past Tripos questions and get a daily
        question mailed straight to your inbox.</p>
</section>