<p>This is a list of all the topics you can subscribe to.</p>
<ul class="list-group">
    {{#each topics as |topic|}}
    <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{topic.name}}</h5>
            <small>Contains {{topic.answerableCount}} question(s)</small>
        </div>
        <p class="mb-1">{{topic.description}}</p>
        <small>{{topic.subCount}} user(s) are subscribed to this topic.</small>
    </li>
    {{/each}}
</ul>