<div class="form-check">
    <input class="form-check-input" type="radio" name="question-topic-radio" id="radio-{{uuid}}">
    <label class="form-check-label" for="topics-radio-{{uuid}}">
        {{description}}
    </label>
</div>